<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gnova"
        tools:targetApi="31">
        <activity android:name=".auth.LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Actividades del flujo del cliente -->
        <activity
            android:name=".auth.RegistroActivity" android:exported="false" />
        <activity
            android:name=".ui.activities.client.InicioClienteActivity" android:exported="false" />
        <activity
            android:name=".ui.activities.shared.ProductosPorCategoriaActivity" android:exported="false" />
        <activity
            android:name=".ui.activities.shared.DetalleProductoActivity" android:exported="false" />
        <activity
            android:name=".ui.activities.client.FavoritosActivity" android:exported="false" />
        <activity
            android:name=".ui.activities.client.CarritoActivity" android:exported="false" />
        <activity
            android:name=".ui.activities.client.PerfilClienteActivity" android:exported="false" />
        <activity
            android:name=".ui.activities.shared.BusquedaActivity" android:exported="false" />
        <!-- ADMIN -->
        <activity android:name=".ui.activities.admin.InicioAdminActivity" android:exported="false" />
        <activity android:name=".ui.activities.admin.ListaProductosAdminActivity" android:exported="false" />
        <activity android:name=".ui.activities.admin.AgregarProductoActivity" android:exported="false" />
        <activity android:name=".ui.activities.admin.EditarProductoActivity" android:exported="false" />
        <activity android:name=".ui.activities.admin.ConfiguracionAdminActivity" android:exported="false" />
        <!-- Agrega ListaUsuariosActivity si la implementas -->

    </application>

</manifest>